@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Work+Sans:wght@300&display=swap');
* {
    margin : 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    width:100%;
    min-height: 100vh;
    background: linear-gradient(#e66465, #9198e5);
    padding: 10px;
}

.todo-app{
    width: 100%;
    max-width: 540px;
    background: white;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.todo-app h2 {
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.todo-app h2 img {
    width: 30px;
    margin-left: 10px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #d8e2d8;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}

button {
    border: none;
    padding: 16px 20px;
    cursor: pointer;
    border-radius: 10px 0px 0px 10px;
}

ul li{
    list-style: none;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border: 2px solid black;
    border-color: black;
    border-radius: 50%;
    background-image: url(/images/checklist.jfif);
    background-size: cover;
    background-position: center;
    left: 10px;
    top: 12px;
}

ul li.checked {
    color: rgb(75, 75, 75);
    text-decoration: line-through;
}

ul li.checked::before {
    background-image: url(/images/checked.jfif);
}